{% extends 'base.html' %}

{% block content %}
  <h2>Todo List</h2>
  <ul>
    {% for todo in todos %}
      <li{% if todo.completed %} class="completed"{% endif %}>
        {% if todo.completed %}
          <del>{{ todo.title }}</del>
        {% else %}
          {{ todo.title }}
          <a href="{% url 'complete_task' todo.id %}">Complete</a>
        {% endif %}
        <input type="checkbox" {% if todo.completed %}checked{% endif %} disabled style="float: right;">
      </li>
    {% empty %}
      <li>No todos yet.</li>
    {% endfor %}
  </ul>
  <hr>
  <a href="{% url 'add_task' %}">Add Todo</a>
  <hr>
  <a href="{% url 'completed_tasks' %}">View Completed Todos</a>
{% endblock %}
